<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right nav-elements">
          <li><a href="/user/login">Giriş Yap</a></li>
          <li><a href="/user/signup">Kaydol</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>

    <h2 style="color: whitesmoke;"><%= title %></h2>
    <h2 style="color: whitesmoke;"> <%= msg %> </h2><br>

  </main>

  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>