<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="login-box">
    <br>
    <h3><b>Kaydol</b></h3>
    <hr>
    <form class="signup-form" action="/user/api/v1/signup" method="post">
      <div class="input-block">
        <input id="uname" class="input-box" type="text" name="username" placeholder="Kullanıcı Adı" autofocus
          autocomplete="off" required />
      </div>
      <div class="input-block">
        <input id="email" class="input-box" type="email" name="email" placeholder="E-Posta" autocomplete="off" required />
      </div>
      <div class="input-block">
        <input id="pass" class="input-box" type="password" name="password" placeholder="Şifre" required />
      </div><br>
      <button class="btn btn-primary btn-lg btn-block" type="submit" name="submit">Kaydol</button>
      <a href="/user/login" class="btn btn-danger btn-lg btn-block"><b>Giriş Yap</b></a><br>
    </form>
  </div>

</body>

</html>